doctype html
html
  head
    title Form Nhập Dữ Liệu
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")
    style.
      body {
        background-color: #f8f9fa;
      }
      .container {
        max-width: 500px;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      button {
        width: 100%;
      }
  body
  .container.mt-5
    h2.text-center Nhập Dữ Liệu
    form(action="/admin/model/create" method="POST")
      .mb-3
        label.form-label(for="name") Tên :
        input.form-control(type="text" name="name" id="name")
      .mb-3
        label.form-label(for="linkFile") Hình ảnh :
        input.form-control(type="text" name="linkFile" id="linkFile")
      .mb-3
        label.form-label(for="description") Mô tả :
        textarea.form-control(name="description" id="description" rows="3")
      .mb-3
        label.form-label(for="thumbnail") Ảnh đại diện (thumbnail) :
        input.form-control(type="text" name="thumbnail" id="thumbnail")
      button.btn.btn-primary(type="submit") Gửi
  script(src="/admin/js/script.js")
