nav(class="bg-dark text-white vh-100 p-3" style="width: 15%;")
        h2(class="text-white") ADMIN
        ul(class="nav flex-column")
          li(class="nav-item mb-2")
            a(href="/admin/dashboard" class="nav-link text-white") Tổng quan
          li(class="nav-item mb-2")
            a(href="/admin/hotspot" class="nav-link text-white") Danh sách hotspot
          li(class="nav-item mb-2")
            a(href="/admin/model" class="nav-link text-white") Danh sách Model
          